body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  background-color: #282c34;
  flex-direction: column;
  /* text-align: center; */
  /* justify-content: center; */
  align-items: center;
  height: calc(100vh -12px);
  font-size: calc(10px + 2vmin);
  color: white;
}
