body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttons {
  margin-top: 0;
  width: 100%;
  display: flex;
  position: fixed;
}

.btn {
  flex: 1;
  font-size: 1.4rem;
  padding: 0.6rem;
}
.btn:hover {
  background-color: black;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}
.tables {
  margin-top: 2rem;
}
